body {
    background-image: url('../images/water-bottle.jpg');
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

#heading {
    margin-bottom: 5%;
}

#landing {
    border: 10px solid rgba(0, 0, 0, 0.438);
    padding: 10px;
    margin: auto;
    width: 50%;
    border: 2px solid black;
    padding: 10px;
    margin-top: 20vh;
}

#landing-login {
    text-align: center;
}

.card {
    justify-content: center;
    align-items: center;
}

.btn btn-success {
    justify-content: center;
    align-items: center;
}