<!DOCTYPE html>
<html>

<head>
  <title>We Cycle</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 

  <!-- CSS only -->
  <link href="../css/style.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title" id="_email"></h5>
      <h6 class="card-subtitle mb-2 text-muted">Welcome to We-cycle</h6>
      <p class="card-text" id="message"></p>
      <button class="btn btn-success" id="logout"> Log out </button>
    </div>
  </div>

  
  <footer id="footer">

  </footer>

  <script src="../js/dashboard.js"></script> 
</body>

</html >