<!DOCTYPE html>
<html>


      <div id="right_column" class="purple_background_content">
        <p class="reg_title_text">Right Column</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nec ullamcorper sit amet risus nullam. Porttitor eget dolor morbi non. Proin fermentum leo vel orci. At in tellus integer feugiat. Risus ultricies tristique nulla aliquet enim tortor at auctor urna. Urna id volutpat lacus laoreet non curabitur. Nunc consequat interdum varius sit amet mattis vulputate enim nulla. Feugiat nisl pretium fusce id. Risus at ultrices mi tempus imperdiet nulla. Morbi tristique senectus et netus et. Malesuada pellentesque elit eget gravida cum. Habitant morbi tristique senectus et netus. Quam viverra orci sagittis eu volutpat.</p>
        <p>Sed euismod nisi porta lorem mollis aliquam. Condimentum mattis pellentesque id nibh. Sagittis vitae et leo duis ut. Malesuada fames ac turpis egestas sed. Id neque aliquam vestibulum morbi. Porta non pulvinar neque laoreet. Nunc sed blandit libero volutpat sed cras ornare arcu dui. Orci ac auctor augue mauris. Leo duis ut diam quam. Ipsum consequat nisl vel pretium lectus quam id. Dictum varius duis at consectetur lorem donec massa sapien. Risus feugiat in ante metus dictum at tempor. Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Elementum pulvinar etiam non quam lacus.</p>

      </div>

</html>
